:root {
    --color-1: rgb(115, 180, 230);
    --color-2: rgb(231, 235, 236);
    --bg-1: rgb(146, 180, 201);
    --bg-2: rgb(219, 232, 233);
    --bg-3: antiquewhite;
    --btn-1: rgb(190, 234, 219);
    --btn-2: rgb(130, 237, 158);
    --text-1: black;
    --text-2: white;
    --gen-bg-1: white;
    --gen-bg-2: rgb(202, 230, 245);
    --shadow : rgba(0, 0, 0, 0.67);
    --title-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root{
        --color-1: rgb(36, 92, 134);
        --color-2: rgb(115, 180, 230);
        --bg-1: rgb(70, 131, 169);
        --bg-2: rgb(90, 169, 174);
        --bg-3: rgb(202, 155, 93);
        --btn-1: rgb(134, 214, 187);
        --btn-2: rgb(75, 201, 109);
        --text-1: rgb(250, 250, 250);
        --text-2: white;
        --gen-bg-1: rgb(0, 0, 0);
        --gen-bg-2: rgb(202, 230, 245);
    }


    }

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: var(--gen-bg-1);
    color: var(--text-1);
}

a, .links {
    text-decoration: none;
    color: var(--text-1);
    cursor: pointer;
}

a:hover {
    color: var(--btn-2);
    font-weight: 800;
}

.header {
    width: 100%;
    padding: 1.2em;
    display: flex;
    background: linear-gradient(to right, var(--color-1), var(--color-2));
    align-items: center;
    margin-bottom: 1em;
    border-bottom: 2px solid var(--bg-1);
}

.nav {
    min-width: 50%;
}

.links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.8em;
}

.brand {
    font-family: var(--title-font);
    font-weight: 800;
    color: var(--text-2);
}

.title {
    font-family: var(--title-font);
}

.objects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 0 1em;
}

.objCard {
    width: 30em;
    background: linear-gradient(var(--bg-2), var(--bg-1));
    border-radius: 0 20px 0 15px;
    border: 2px solid var(--bg-1);
    box-shadow: 5px 7px 6px 5px var(--shadow);
}

.objHeader {
    background: linear-gradient(to right, var(--color-1), var(--color-2));
    width: 100%;
}

.objTitle {
    margin-top: 1em;
    padding: 1.3em;
}

.objCat {
    display: flex;
    align-items: center;
    padding-right: 3em;
    padding-bottom: 0.8em;
    justify-content: flex-end;
    gap: 1em;
}

.cardContent {
    display: flex;
    padding: 1em 2em 1em 1em;
    width: 100%;
    gap: 1em;
    align-items: flex-start;
}

.objImg {
    max-width: 50%;
    object-fit: contain;
}

.right {
    display: flex;
    min-width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {
    padding: 1em 1em;
    background-color: var(--bg-2);
}

.dispo {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    align-items: center;
    gap: 0.5em;
}

hr {
    margin: 1em 0;
}

.btn {
    border: none;
    border-radius: 3em;
    font-weight: 500;
    padding: 0.5em 1.5em;
    background-color: var(--btn-1);
    box-shadow: 3px 3px 5px 2px var(--shadow);
}

.btn:hover {
    font-weight: 600;
    background-color: var(--btn-2);
}

.users {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.user {
    display: flex;
    gap: 1em;
    background-color: var(--bg-3);
}

.filter {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}

.filterBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.filterBtn:hover {
    color: var(--bg-1);
    cursor: pointer;
}

.icon {
    background-color: var(--bg-3);
    width: 2.5em;
    padding: 0.1em;
    transform: rotate(0);
    transition: transform 1s;
}

.icon:hover {
    background-color: var(--bg-2);
    transform: rotate(30deg);
}

.icons {
    width: 2em;
}