:root {
    --color-1: rgb(115, 180, 230);
    --color-2: rgb(231, 235, 236);
    --bg-1: rgb(146, 180, 201);
    --bg-2: rgb(219, 232, 233);
    --bg-3: antiquewhite;
    --bg-4: rgb(214, 160, 90);
    --btn-1: rgb(190, 234, 219);
    --btn-2: rgb(130, 237, 158);
    --text-1: black;
    --text-2: white;
    --gen-bg-1: white;
    --gen-bg-2: rgb(202, 230, 245);
    --shadow : rgba(0, 0, 0, 0.67);
    --title-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --red-1: rgb(170, 18, 18);
    --red-2: red;
}

@media (prefers-color-scheme: dark) {
    :root{
        --color-1: rgb(36, 92, 134);
        --color-2: rgb(115, 180, 230);
        --bg-1: rgb(70, 131, 169);
        --bg-2: rgb(99, 168, 196);
        --bg-3: rgb(202, 155, 93);
        --bg-4: rgb(170, 114, 40);
        --btn-1: rgb(81, 183, 183);
        --btn-2: rgb(75, 201, 109);
        --text-1: rgb(250, 250, 250);
        --text-2: white;
        --gen-bg-1: rgb(48, 47, 56);
        --gen-bg-2: rgb(202, 230, 245);
    }


    }

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: var(--gen-bg-1);
    color: var(--text-1);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-1)
}

.links, link {
    color: var(--text-1);
}

.link:hover {
    color: var(--btn-2);
}

.header {
    width: 100%;
    padding: 1.2em;
    display: flex;
    background: linear-gradient(to right, var(--color-1), var(--color-2));
    align-items: center;
    margin-bottom: 1em;
    border-bottom: 2px solid var(--bg-1);
}

.nav {
    min-width: 60%;
}

.links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.8em;
}

.brand {
    font-family: var(--title-font);
    font-weight: 800;
    color: var(--text-2);
}

.title {
    font-family: var(--title-font);
    display: flex;
    align-items: center;
    gap: 1em;
}

.objects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 0 1em;
}

.objCard {
    width: 30em;
    background: linear-gradient(var(--bg-2), var(--bg-1));
    border-radius: 0 20px 0 15px;
    border: 2px solid var(--bg-1);
    box-shadow: 5px 7px 6px 5px var(--shadow);
}

.objHeader {
    background: linear-gradient(to right, var(--color-1), var(--color-2));
    width: 100%;
}

.objTitle {
    margin-top: 1em;
    padding: 1.3em;
}

.objCat {
    display: flex;
    align-items: center;
    padding-right: 3em;
    padding-bottom: 0.8em;
    justify-content: flex-end;
    gap: 1em;
}

.cardContent {
    display: flex;
    padding: 1em 2em 1em 1em;
    width: 100%;
    gap: 1em;
    align-items: flex-start;
}

.objImg {
    max-width: 50%;
    object-fit: contain;
}

.right {
    display: flex;
    min-width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {
    padding: 1em 1em;
    background-color: var(--bg-2);
}

.dispo {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    align-items: center;
    gap: 0.5em;
}

hr {
    margin: 1em 0;
}

.btn {
    border: none;
    border-radius: 3em;
    font-weight: 500;
    padding: 0.5em 1.5em;
    background-color: var(--btn-1);
    box-shadow: 3px 3px 5px 2px var(--shadow);
}

.btn:hover {
    background-color: var(--btn-2);
}

.users {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 2em;
}

.user {
    display: flex;
    gap: 1em;
    background-color: var(--bg-3);
    padding: 0.5em;
}

.filter {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}

.filterBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
}


.filterBtn:hover {
    color: var(--bg-1);
    cursor: pointer;
}

.icon {
    background-color: var(--bg-3);
    width: 2.5em;
    padding: 0.1em;
    transform: rotate(0);
    transition: transform 1s;
}

.mini {
    background-color: var(--bg-3);
    width: 1.5em;
    padding: 0.1em;
    transform: rotate(0);
    transition: transform 1s;
}

.icon:hover {
    background-color: var(--bg-2);
    transform: rotate(45deg);
}

.icons {
    width: 2em;
}

.userCard2 {
    width: 20em;
    background-color: var(--color-1);
    padding: 0.5em;
}

.objetPossede {
    background-color: var(--bg-2);
    width: 100%;
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

.pop {
    background: linear-gradient(var(--bg-3), var(--bg-4));
    position: absolute;
    border-color: grey;
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red {
    background-color: var(--red-1);
}

.red:hover {
    background-color: var(--red-2);
}

.resaBottom {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
    width: 100%;
}

.calendrier {
    width: 70%;
    height: 10em;
    background-color: azure;
}

.userCard {
    background: linear-gradient(var(--bg-1), var(--bg-2));
    margin: 2em;
    max-width: 50em;
    width: 100%;
}

.mini2 {
    background-color: var(--color-2);
    width: 1.5em;
    padding: 0.1em;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.topL {
    display: flex;
    flex-direction: column;
}

#newObjField {
    width: 100%;
    max-width: 50em;
    border-radius: 8px;
}

#newObjField form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

#objName, #objImg, #categories {
    height: 2em;
    margin-bottom: 1em;
}

#objDesc {
    height: 10em;
    margin-bottom: 1em;
}

.center {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 2em;
}

#newObjField label {
    font-weight: 800;
}

.editCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.catSpec {
    display: flex;
    gap: 1em;
    border-bottom: solid 1px var(--color-1);
    background-color: var(--bg-2);
    width: 30em;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

.editCatTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.editBtns {
    display: flex;
    margin-left: 2em;
    gap: 1em;
}

.split {
    width: 100%;
    display: flex;
    padding: 2em;
}

.toLeft {
    align-items: flex-start;
    width: 100%;
}

.objet {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: var(--bg-2);
}